[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"
scrapy = "*"
ipython-autotime = "*"
ipywidgets = "*"

[packages]
nltk = "*"
spacy = "*"
gensim = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
cytoolz = "*"
python-crfsuite = "*"
pattern = "*"
beautifulsoup4 = "*"
requests = "*"
sklearn-crfsuite = "*"
wordcloud = "*"
xgboost = "*"
numba = "*"
tqdm = "*"
symspellpy = "*"

[requires]
python_version = "3.7"
